.footer{
  background: linear-gradient(108.19deg, #EC3B48 4.74%, #F25543 97.45%);
  padding-top: 63px;
  width:93%;
  margin: auto auto;
  display: flex;
  justify-content: space-between;

}



.footer_foreachlab{
  width: 50%;

}
.footer_content{
  width:49%;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
}


.footer_foreachlab>h1{
  font-size: clamp(1rem,4vw,4rem);
  color: white;
}
.footer_foreachlab>p{
  
font-family: 'Metropolis';
font-style: normal;
font-weight: 500;
font-size: clamp(17px,1.5vw,1.7rem);
line-height: 185%;
min-width: 350px;
/* width: 80%; */
/* min-width: 68px; */
/* or 37px */
width: 45%;

color: #FFFFFF;

}
.footer_foreachlab>button{
  
background: #FFFFFF;
border-radius: 21px;
font-family: 'Metropolis';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 24px;
/* identical to box height */
/* padding: 1rem; */
width: 253px;
height: 71px;
color: #ED4047;
margin-top: 40px;

}

.footer_content_ul_div{
  margin-bottom: 91px;
}

.footer_content_ul_div>ul>p{
  font-family: 'Metropolis';
font-style: normal;
font-weight: 900;
/* font-size: 25px; */
font-size: clamp(1rem,2vw,2.5rem);
line-height: 185%;

/* or 46px */


color: #FFFFFF;

}



.footer_content_ul_div>ul>li{
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 185%;
  font-size: clamp(.8rem,2vw,1.5rem);
  /* identical to box height, or 37px */
  
  
  color: #FFFFFF;
  
}

.footer_hr{
  margin-top: 910px;
  border-top: 1px solid #FBFBFB;
  width: 90%;
  margin: auto auto;
  padding-bottom: 15px;

}
.footer_rights_text{
  font-family: 'Metropolis';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 185%;
/* identical to box height, or 37px */
margin: auto auto;
width: 90%;
text-align: left;
color: #FFFFFF;

}
/* @media screen and (max-width:1390px) {
  .footer_foreachlab{
    width: 45%;
  }
  .footer_content{
    width: 55%;
  }
} */


























/* small device and  mobile eesponsive screen */
@media screen and (max-width:767px) {
  .footer{
    flex-direction: column;
    width:80%;
    /* align-items: center; */
  }
  .footer_content{
    width: 100%;
    flex-direction: column;
    /* align-items: center; */
  }
  .footer_content_ul_div{
    width:80%;
   
  }
  .footer_content_ul_div>ul>p{
    font-size: 2rem;
  }
  .footer_content_ul_div>ul>li{
    font-size: 1.4rem;
  }
  .footer_foreachlab{
    width: 100%;
    margin-bottom: 2rem;
    

  }
  
  .footer_foreachlab>button{
margin-top: 1rem;
  }
  .footer_foreachlab>p{
    min-width: 10px;
    width: 98%;
    font-size: 1.4rem;
    line-height: 40px;
  }
  .footer_foreachlab>h1{
    font-size: 2.5rem;
  }
}

/* .bd_red{
  border:1px solid red;

}


.bd_blue{
  border:1px solid blue;
  
}


.bd_yellow{
  border:1px solid yellow;
  
}


.bd_green{
  border:1px solid green;
} */
.bg_orange{
  background: linear-gradient(108.19deg, #EC3B48 4.74%, #F25543 97.45%);
}